<h1>Pages#index</h1>

<!-- Cargando imagen desde el asset path -->
<%= image_tag 'img-01.jpg' %>

<!-- Link en imagen -->
<%= link_to image_tag("img-02.jpeg"), "https://hipertextual.com/files/2018/05/Thanos-comic-670x410.jpeg" %>
